<template name="game">
    {{#if isEndedGame}}
        {{> endedGame}}
    {{else}}
        {{#if isPendingGame}}
            {{> pendingGame}}
        {{else}}
            {{> runningGame}}
        {{/if}}
    {{/if}}
</template>

<template name="endedGame">
    <h3>Game is over.</h3>
    <p>{{winner.profile.firstName}} has won the game.</p>

</template>


<template name="pendingGame">
    <p>This game hasn't started yet. {{gameAdmin.profile.firstName}} {{gameAdmin.profile.lastName}} is waiting for you.</p>
    <p>
        {{#if isInvitedUser}}
            <button class="accept-invitation btn btn-default">Accept invitation</button>
        {{/if}}
    </p>
</template>