<template name="game">
    {{#if isPendingGame}}
        {{> pendingGame}}
    {{else}}
        {{> runningGame}}
    {{/if}}
</template>

<template name="runningGame">
    <div class="game-table">
        <div class="row">
            <div class="col-xs-2">
                <p>
                    {{invitedUser.profile.firstName}} {{invitedUser.profile.lastName}}
                </p>
                0
            </div>
            <div class="col-xs-8">
                <h2>{{currentQuestion.title}}</h2>
            </div>
            <div class="col-xs-2">
                <p>
                    {{gameAdmin.profile.firstName}} {{gameAdmin.profile.lastName}}
                </p>
                0
            </div>
        </div>
        <ul class="list-group">
            {{#each answers}}
                <li class="list-group-item {{#unless answered}}disabled{{/unless}}">
                    <div class="row">
                        <div class="col-xs-2">
                            {{#if answered}}
                                {{#if isInvitedUser answeredByUser}}
                                    CHECK
                                {{/if}}
                            {{/if}}
                        </div>
                        <div class="col-xs-8">
                            {{#if answered}}
                                {{title}}
                            {{else}}
                                ?
                            {{/if}}
                        </div>
                        <div class="col-xs-2">
                            {{#if answered}}
                                {{#if isGameAdmin answeredByUser}}
                                    CHECK
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
        <div>
            {{#if hasTurn}}
                <form class="form-group submit-answer">
                    <input name="answer" class="form-control" type="text" placeholder="Your next tip ..."/>
                </form>
            {{/if}}
        </div>
    </div>
</template>

<template name="pendingGame">
    <p>This game hasn't started yet. {{gameAdmin.profile.firstName}} {{gameAdmin.profile.lastName}} is waiting for you.</p>
    <p>
        {{#if isInvitedUser}}
        <button class="accept-invitation btn btn-default">Accept invitation</button>
        {{/if}}
    </p>
</template>