<template name="runningGame">
    <div class="game-table">
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <div class="panel {{#if hasTurn invitedUser }} panel-primary {{else}} panel-warning {{/if}}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{invitedUser.profile.firstName}} {{invitedUser.profile.lastName}}
                            <span class="badge">{{points invitedUser}}</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{#if hasTurn invitedUser}}
                            PLAYING
                        {{else}}
                            WAITING
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-sm-push-8">
                <div class="panel {{#if hasTurn gameAdmin }} panel-primary {{else}} panel-warning {{/if}}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{gameAdmin.profile.firstName}} {{gameAdmin.profile.lastName}}
                            <span class="badge">{{points gameAdmin}}</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{#if hasTurn gameAdmin}}
                            PLAYING
                        {{else}}
                            WAITING
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="title col-sm-8 col-sm-pull-2">
                {{#if isPaused}}
                    {{> counting}}
                {{else}}
                    <h2>{{currentQuestion.title}}</h2>
                    {{#if currentQuestion.subtitle}}
                        <h3>{{currentQuestion.subtitle}}</h3>
                    {{/if}}
                    <div class="progress">
                        <div class="progress-bar progress-bar-{{drawTime.state}}"
                             role="progressbar"
                             aria-valuenow="{{drawTime.now}}"
                             aria-valuemin="0"
                             aria-valuemax="{{drawTime.max}}"
                             style="width: {{drawTime.percent}}%">
                             {{drawTime.seconds}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if isPaused}}

        {{else}}
            {{> answers}}
        {{/if}}
    </div>
</template>